<!-- <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css"> -->
<!-- <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script> -->
<!-- <script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->

<head>
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

<div *ngIf="failNullAlert" class="alert alert-danger" role="alert">
	Cannot have null fields.
</div>
<div *ngIf="failCreateAlert" class="alert alert-danger" role="alert">
	Failed to submit new user.
</div>
<div *ngIf="failSubmissionAlert" class="alert alert-danger" role="alert">
	Submission Failed.
</div>
<div class="container">
	<div class="row">
		<form role="form" class="col-md-9 go-right">
			<h2>Add a New User</h2>
			<p>Your employee will be notified by email with their new username and password</p>
			<div class="form-group">
				<input id="fname" name="name" type="text" class="form-control" [(ngModel)]="newUser.firstName" required>
				<label for="fname">User First Name</label>
				<input id="lname" name="name" type="text" class="form-control" [(ngModel)]="newUser.lastName" required>
				<label for="lname">User Last Name</label>
			</div>
			<div class="form-group">
				<input id="email" name="email" type="email" class="form-control" [(ngModel)]="newUser.userEmail" required>
				<label for="email">User Email</label>
			</div>
			<button id="submitUser" type="submit" class="btn btn-primary" (click)="makeUser()">Create User</button>
		</form>
	</div>
</div>