<app-nav></app-nav>

<p>Click on a user to view their info</p>

<div *ngIf="failGetAlert" class="alert alert-danger" role="alert">
    Failed to get all users.
</div>

<div class="container">
    <table class="table table-hover">
        <thead class="thead-light">
            <tr>
                <th>User ID</th>
                <th>UserName</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email Address</th>
                <th>Wage</th>
                <th>Debt</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of userList" [routerLink]="['/view-user']" [queryParams]="{user: user.userId}">
                <!-- <tr *ngFor="let user of userList" (click)="view(user)"> -->
                <td>{{user.userId}}</td>
                <td>{{user.username}}</td>
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user.userEmail}}</td>
                <td>{{user.wage}}</td>
                <td>{{user.debt}}</td>
                <td>{{user.role.userRole}}</td>
            </tr>
        </tbody>
    </table>
</div>
<app-make-user></app-make-user>
<app-footer></app-footer>




<!-- <app-reimbursement [reimbs]="r"></app-reimbursement> -->