{{string}}
<div class="container">
    <table class="table table-striped">
        <thead class="thead-light">
            <tr>
                <th>ID</th>
                <th>Amount</th>
                <th>Date Submitted</th>
                <th>Description</th>
                <th>Author ID</th>
                <th>Type</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let reimbursement of reimbs">
                <ng-container *ngIf="reimbursement.reimbStatus.status === 'Pending'">
                    <td>{{reimbursement.reimbId}}</td>
                    <td>{{reimbursement.reimbAmount | currency:'USD':'symbol':'1.2'}}</td>
                    <td>{{reimbursement.reimbSubmitted | date:'fullDate'}}</td>
                    <td>{{reimbursement.reimbDescription}}</td>
                    <td>{{reimbursement.reimbAuthor.firstName}}</td>
                    <td>{{reimbursement.reimbType}}</td>
                    <td>
                        <form class="managerbutton" *ngIf="ck.roleId === 1 && ck.firstName != reimbursement.reimbAuthor.firstName">
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button type="submit" (click)="updateStatus(reimbursement.reimbId, 'Accepted')" value='Accepted' name="approve" class="btn btn-secondary btn-sm">Approve</button>
                                <button type="submit" (click)="updateStatus(reimbursement.reimbId, 'Declined')" value='Declined' name="deny" class="btn btn-secondary btn-sm">Deny</button>
                            </div>
                        </form>
                    </td>


                </ng-container>

            </tr>

        </tbody>
    </table>
</div>

