
<div class="container">
        <table class="table table-striped">
            <thead class="thead-light">
                <tr>
                    <th>ID</th>
                    <th>Amount</th>
                    <th>Date Submitted</th>
                    <th>Date Resolved</th>
                    <th>Description</th>
                    <th>Author ID</th>
                    <th>Resolver</th>
                    <th>Type</th>
                </tr>
            </thead>
            <tbody>
    
                <tr *ngFor="let reimbursement of reimbs">
                    <ng-container *ngIf="reimbursement.reimbStatus.status === 'Declined'">
                        <td>{{reimbursement.reimbId}}</td>
                        <td>{{reimbursement.reimbAmount | currency:'USD':'symbol':'1.2'}}</td>
                        <td>{{reimbursement.reimbSubmitted | date:'fullDate'}}</td>
                        <td>{{reimbursement.reimbResolved | date:'fullDate'}}</td>
                        <td>{{reimbursement.reimbDescription}}</td>
                        <td>{{reimbursement.reimbAuthor.firstName}}</td>
                        <td>{{reimbursement.reimbResolver.firstName}}</td>
                        <td>{{reimbursement.reimbType}}</td>
                    </ng-container>
                </tr>
    
    
    
    
            </tbody>
        </table>
    </div>
    
    

    