.body {
  border-left: 25px solid orange;
  border-right: 25px solid orange;
}

.container {
  background:white;
  display: flex;
  position: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  width: 80vw;
  min-height: 100vh;

}
.btn {
  flex: 1 1 auto;
  margin: 10px;
  padding: 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: black;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
 }

/* Demo Stuff End -> */

/* <- Magic Stuff Start */

.btn:hover {
  background-position: right center; /* change the direction of the change here */
}

.btn-1 {
  background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
}

.btn-2 {
  background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
}

.btn-3 {
  background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);
}

.btn-4 {
  background-image: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%);
}

.btn-5 {
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 51%, #ffecd2 100%);
}
.bgimg {
    background-image: url('https://i.imgur.com/wABGOVj.jpg');
    background-repeat: no-repeat;
    padding-top:300px;
    padding-right:50px;
    
    
}

/* Magic Stuff End -> */


    /* #webcoderskull{
        position: absolute;
        left: 0;
        top: 50%;
        padding: 0 20px;
        width: 100%;
        text-align: center;
    }

    canvas{
        height:100vh;
        background-color:#16a085;
    }
    #webcoderskull h1{
    letter-spacing: 5px;
    font-size: 5rem;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    } */