<app-nav></app-nav>

<Button class="btn btn-primary" routerLink="/new-timesheet">Submit new timesheet</Button>


<table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Timesheet ID</th>
            <th>Employee Name</th>
            <th>Start date</th>
            <th>Date Submitted</th>
            <th>Date Resolved</th>
            <th>Hours</th>
            <th>Status</th>
            <th>Resolved By</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>Timesheet ID</th>
            <th>Employee Name</th>
            <th>Start date</th>
            <th>Date Submitted</th>
            <th>Date Resolved</th>
            <th>Hours</th>
            <th>Status</th>
            <th>Resolved By</th>
        </tr>
    </tfoot>
    <tbody>
        <tr *ngFor="let sheet of timesheets">
            <td>{{sheet.timesheetId}}</td>
            <td>{{sheet.author.firstName}}</td>
            <td>{{sheet.startDate | date:'fullDate'}}</td>
            <td>{{sheet.submittedDate | date:'fullDate'}}</td>
            <td>{{sheet.resolvedDate | date:'fullDate'}}</td>
            <td>{{sheet.hoursTotal}}</td>
            <td>{{sheet.status.status}}</td>
            <td *ngIf="sheet.resolver else b">{{sheet.resolver.firstName}}</td>
            <ng-template #b>
                <td>N/A</td>
            </ng-template>
            
        </tr>
    </tbody>
</table>