

    <div class="container">
        <table class="table table-striped">
            <thead class="thead-light">
                <tr>
                    <th>ID</th>
                    <th>Amount</th>
                    <th>Date Submitted</th>
                    <th>Date Resolved</th>
                    <th>Description</th>
                    <th>Author</th>
                    <th>Resolver</th>
                    <th>Status</th>
                    <th>Type</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let reimbursement of reimbs">
                    <td>{{reimbursement.reimbId}}</td>
                    <td>{{reimbursement.reimbAmount | currency:'USD':'symbol':'1.2'}}</td>
                    <td>{{reimbursement.reimbSubmitted | date:'fullDate'}}</td>
                    <td>{{reimbursement.reimbResolved | date:'fullDate'}}</td>
                    <td>{{reimbursement.reimbDescription}}</td>
                    <td>{{reimbursement.reimbAuthor.firstName}}</td>
                    <!-- <td>{{reimbursement.resolver_id}}</td> -->
                    <td *ngIf="reimbursement.resolver_id != 0 else b">{{reimbursement.reimbResolver.firstName}}</td>
                    <ng-template #b>
                        <td>N/A</td>
                    </ng-template>
                    <td>{{reimbursement.reimbStatus}}</td>
                    <!-- <td *ngIf="reimbursement.reimbStatus == 0"><button class="btn btn-warning">Pending</button></td>
                    <td *ngIf="reimbursement.reimbStatus == 1"><button class="btn btn-success">Approved</button></td>
                    <td *ngIf="reimbursement.reimbStatus == 2"><button class="btn btn-danger">Denied</button></td> -->
                    <td>{{reimbursement.reimbType}}</td>
                    <!-- <div *ngIf="reimbursement.reimbType == 0"><td>Lodging</td></div>
                    <div *ngIf="reimbursement.reimb_type == 1"><td>Travel</td></div>
                    <div *ngIf="reimbursement.reimb_type == 2"><td>Food</td></div>
                    <div *ngIf="reimbursement.reimb_type == 3"><td>Other</td></div> -->
                    
                </tr>
    
            </tbody>
        </table>
    </div>

  
    

  <!-- <app-reimbursement [reimbs]="r"></app-reimbursement> -->


